.body{
    border: 1px solid black; 
}

.square{
  width: 17.25px;
  height: 25.5px;
  border: 1px solid Gainsboro; 
  background-color: white;
}

.color{
    width: 74px;
    height: 79px;
    border: 1px solid black; 
    margin: 3px;
  }

.row{
    display: flex;
    flex-direction:row;
}

#container{
    display: flex;
    flex-direction:row;
    background-color: lightgray;
}

#palette{
    text-align: center;
    padding:3px;
}

#canvas{
    padding:3px;
}

#buttonClear{
    width: 230px;
    height: 72px;
    font-size: 22px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}

